<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'juno/style.css' %}">
</head>
<body>
    <header>
        <!-- Header content goes here -->
        {% include 'header.html' %}
    </header>

    <nav>
        <!-- Navigation content goes here -->
        {% include 'nav.html' %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Footer content goes here -->
        {% include 'footer.html' %}
    </footer>
</body>
</html>